.menu-vertical {
  background: #c0c0c0;
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  // box-shadow: 2px 2px 0 #808080;
  width: 180px;
  height: 472px;
  padding: 8px 0;
}

.menu-vertical ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.menu-vertical li {
  margin: 0;
  padding: 0 8px;
  margin-bottom: 4px;
}

.menu-vertical li:last-child {
  margin-bottom: 0;
}