<!-- style.width="{{ sizeWidth() }}" style.height="{{ sizeHeight() }}" -->
<div class="window" [ngStyle]="{'width': widthWindow(), 'height': heightWindow()}">
    <div class="window-header">
        <div class="window-icon">
            <img src="program.ico" alt="Icon">
            <span class="window-title">{{ titleWindow() }}</span>
        </div>
        <div class="window-controls">
            <button class="action-button">_</button>
            <button class="action-button">□</button>
            <button class="action-button">x</button>
        </div>
    </div>
    <ng-content></ng-content>
</div>
