<main class="desktop-container">
    <div class="desktop-body" 
    [ngStyle]="{
        'background-color': '#218080',
        'background-image': 'url(wallpaper.jpg)',
        'background-size': 'contain',
        'background-repeat': 'no-repeat',
        'background-position': 'center'
    }">
        <ng-content />
    </div>

    <div class="desktop-footer">
        <div class="taskbar">
            <button class="start-button">
                <img src="icons8-ventanas-95.svg" [ngStyle]="{ width: '32px', height: '32px'}" alt="Inicio" class="start-icon" />
                <span [ngStyle]="{ 'font-weight': 'bold' }">Inicio</span>
            </button>
            <div class="taskbar-tasks">
                <!-- Ejemplo de tareas abiertas -->
                <button class="taskbar-task" [ngStyle]="{ display: 'flex', alignItems: 'center', gap: '4px' }">
                    <img src="program.ico" [ngStyle]="{ width: '16px', height: '16px', display: 'inline-block' }" alt="Tarea" class="start-icon" />
                    <span>Código Murciélago</span>
                </button>
            </div>
            <div class="taskbar-clock">
                14:32
            </div>
        </div>
    </div>
</main>